<% if @ads == [] %>
  <p>No ads at the moment</p>
<% else %>
  <% @ads.each do |ad| %>
    <p>
      <b><%=  ad.real_estate_type%></b> <br />
      <b> in <%= ad.adress %></b><br />
      <b> with <%= ad.rooms %></b> rooms<br />
      <%= link_to "Read more",ad_path(ad.id) %>
    </p>

  <% end %>
<% end %>

